/* black: 191414 */
/* green: 1db954 */

.Drawer {
  width: 15%;
  height: 90vh;
  overflow-y: scroll;
  color: white;
  padding: 2.5rem 0 0 2.5rem;
  font-size: 1.4rem;
  background-color: #191414;
  scrollbar-width: none;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.Drawer::-webkit-scrollbar {
  display: none;
}

.Drawer ul {
  margin: 1rem 0 4rem 0;
}

.Drawer li {
  font-weight: 200;
  list-style: none;
  margin: 0.5rem 0;
}

.Drawer a {
  color: white;
  text-decoration: none;
}

.TopList {
  margin: 0 0 4rem 0;
}

.Title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 300;
}

.TopList li {
  margin: 1.5rem 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.TopList a {
  margin-left: 1.6rem;
  font-weight: 500;
  font-size: 1.4rem;
  transform: translateY(0.1rem);
}

.MidList a {
  font-weight: 500;
}

.Active {
  display: inline-block;
  border-left: 4px solid #1db954;
  padding-left: 2.1rem;
  transform: translateX(-2.5rem);
}

.Active a {
  margin-left: 1.6rem;
}

@media (max-width: 1100px) {
  .Drawer {
    padding: 2rem 0 0 2rem;
    font-size: 1.2rem;
  }
  .Active {
    padding-left: 1.6rem;
    transform: translateX(-2rem);
  }
  .Title {
    font-size: 1.6rem;
  }
}

@media (max-width: 960px) {
  .Drawer {
    width: 18%;
  }
  .Drawer svg {
    width: 2.8rem;
    height: 2.8rem;
  }
}

@media (max-width: 650px) {
  .Drawer {
    display: none;
  }
}
